# Default ignored files
/shelf/
.idea/
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

misc.xml
modules.xml
patterns.iml
vcs.xml

java-origin-strategy/java-origin-strategy.iml
java-origin-strategy/target
java-origin-observer/java-origin-observer.iml
java-origin-observer/target
java-origin-decorator/java-origin-decorator.iml
java-origin-decorator/target

out
